<%= form_with url: home_index_path, method: :get, local: true do |f| %>
  <%= tag.p do %>
    from: <%= f.text_field :from, value: '渋谷' %>
  <% end %>
  <%= tag.p do %>
    transfer: <%= f.text_field :transfer, value: '恵比寿（東京）' %>
  <% end %>
  <%= tag.p do %>
    to: <%= f.text_field :to, value: '新宿' %>
  <% end %>
  <%= select :page, :name, [["", ""], ["", ""]], class: 'datetimepicker' %>
  <%= f.submit 'search' %>
<% end %>

<table>
  <% @blocks.each do |block| %>
    <%= tag.tr tag.td "#{block[:departure_station]} → #{block[:transfer_station]} → #{block[:arrive_station]}" %>
    <%= tag.tr tag.td block[:time] %>
    <%= tag.tr do %>
      <%= tag.td do %>
        <%= "#{block[:first_route]}: #{block[:departure_station]} → #{block[:transfer_station]} #{block[:first_line]}" %>
        <%= "#{block[:first_home_begin]} → #{block[:first_home_end]}" %>
        <br>
        <%= "#{block[:second_route]}: #{block[:transfer_station]} → #{block[:arrive_station]} #{block[:second_line]}" %>
        <%= "#{block[:second_home_begin]} → #{block[:second_home_end]}" %>
      <% end %>
    <% end %>
  <% end %>
</table>

<script>$('.datetimepicker').datetimepicker();</script>