<%= form_with url: home_index_path, method: :get, local: true do |f| %>
  <%= tag.p do %>
    from: <%= f.text_field :from, value: @query.from %>
  <% end %>
  <%= tag.p do %>
    transfer: <%= f.text_field :transfer, value: @query.transfer %>
  <% end %>
  <%= tag.p do %>
    to: <%= f.text_field :to, value: @query.to %>
  <% end %>
  <%= check_box :page, :remember_time, {checked: true} %> remember_time
  <%= select :page, :name, [["", ""], ["", ""]], class: 'datetimepicker' %>
  <%= f.submit 'search' %>
<% end %>

<table>
  <% @blocks.each do |block| %>
    <%= tag.tr tag.td block[:title] %>
    <%= tag.tr tag.td "#{block[:stations][:departure]} → #{block[:stations][:transfer]} → #{block[:stations][:arrive]}" %>
    <%= tag.tr tag.td block[:time] %>
    <%= tag.tr do %>
      <%= tag.td do %>
        <%= "#{block[:first_route]}HH:MM〜HH:MM: #{block[:lines][:lines]}" %><br>
        <%= "#{block[:stations][:departure]}(#{block[:track][:departure]}) → #{block[:stations][:transfer]}(#{block[:track][:transfer]}N番線着)" %>
        <br>
        <%= "#{block[:second_route]}HH:MM〜HH:MM: #{block[:lines][:lines]}" %><br>
        <%= "#{block[:stations][:transfer]}(#{block[:track][:transfer]}N番線発) → #{block[:stations][:arrive]}(#{block[:track][:arrive]})" %>
      <% end %>
    <% end %>
  <% end %>
</table>

<script>$('.datetimepicker').datetimepicker();</script>