<%= form_with url: home_index_path, method: :get, local: true do |f| %>
  <%= tag.p do %>
    from: <%= f.text_field :from, value: @query.from %>
  <% end %>
  <%= tag.p do %>
    transfer: <%= f.text_field :transfer, value: @query.transfer %>
  <% end %>
  <%= tag.p do %>
    to: <%= f.text_field :to, value: @query.to %>
  <% end %>
  <%= check_box :page, :remember_time, {checked: true} %> remember_time
  <%= select :page, :name, [["", ""], ["", ""]], class: 'datetimepicker' %>
  <%= f.submit 'search' %>
<% end %>

<table>
  <% @routes.each do |route| %>
    <%= tag.tr tag.td route[:title], style: 'background-color: deepskyblue' %>
    <%= tag.tr tag.td route[:overview] %>
    <%= tag.tr tag.td route[:time] %>
    <%= tag.tr do %>
      <%= tag.td do %>
        <%= tag.ul do %>
          <%= route[:transfers][:station].each_cons(2).with_index do |stations, i| %>
            <%= tag.li do %>
              <%= "#{stations.first} → #{stations.last}" %>
              <%= route[:transfers][:time][i] %>
              <%= route[:transfers][:line][i] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>

<script>$('.datetimepicker').datetimepicker();</script>